ANALISIS EDA DE LAS PLATAFORMAS DE STREAMING: AMAZON, HULU, DISNEY Y NETFLIX

In [1]:
#importamos las librerias necesarias para el analisis EDA
import pandas as pd
import numpy as np

In [2]:
#Cargamos nuestros datasets para comenzar el analsis
df_plataforms = pd.read_csv('C:/Users/berna/OneDrive/Desktop/MLops_service/MLOpsReviews/plataforms_final.csv')

In [5]:
# vemos las pimeras filas y columnas del dataset y ver las variables y tipos de datos que lo componen.
df_plataforms.head(2)

,Unnamed: 0,plataform,type,title,director,cast,country,date_added,year,rating,duration,listed_in,description,duration_int,duration_type,userId,scored
0,0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,113.0,min,99178.624,3.467
1,1,as2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,110.0,min,93837.477,3.549

In [9]:
df_plataforms.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     22998 non-null  int64
 1   plataform      22998 non-null  object
 2   type           22998 non-null  object
 3   title          22998 non-null  object
 4   director       14739 non-null  object
 5   cast           17677 non-null  object
 6   country        11499 non-null  object
 7   date_added     13444 non-null  object
 8   year           22998 non-null  int64
 9   rating         22998 non-null  object
 10  duration       22998 non-null  object
 11  listed_in      22998 non-null  object
 12  description    22994 non-null  object
 13  duration_int   19925 non-null  float64
 14  duration_type  19925 non-null  object
 15  userId         22998 non-null  float64
 16  scored         22998 non-null  float64
dtypes: float64(3), int64(2), object(12)
memory usage: 3.0+ MB

In [7]:
# Vemos cuantos Nulos se encuentran en cada columna
df_plataforms.isnull().sum()

Unnamed: 0           0
plataform            0
type                 0
title                0
director          8259
cast              5321
country          11499
date_added        9554
year                 0
rating               0
duration             0
listed_in            0
description          4
duration_int      3073
duration_type     3073
userId               0
scored               0
dtype: int64

In [ ]:
#Observamos una cantidad considerable de nulos  y consideramos reemplazarlos por ceros.